<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>
<body>
    <h1>New Campground</h1>
    
    <form action="/campgrounds" method="POST">
        <label>
            Title:
            <input type="text" name="campground[title]">
        </label>
        <label>
            Location:
            <input type="text" name="campground[location]">
        </label>
        <button>Create New Campground</button>
    </form>

    <a href="/campgrounds">Back to all campgrounds</a>

</body>
</html>