<% layout('layouts/boilerplate') %>
    
<form action="/campgrounds" method="POST">
    <label>
        Title:
        <input type="text" name="campground[title]">
    </label>
    <label>
        Location:
        <input type="text" name="campground[location]">
    </label>
    <button>Create New Campground</button>
</form>

<a href="/campgrounds">Back to all campgrounds</a>